/*
Theme Name: Any Theme
Description: Used to style the TinyMCE editor.
*/

/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Headings
 * 3.0 - Text Elements
 * 4.0 - Links
 * 5.0 - Alignment
 * 6.0 - Tables
 * 7.0 - Images
 * 8.0 - RTL
 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Body
 * ----------------------------------------------------------------------------
 */

html .mceContentBody {
    font-size: 100%;
    max-width: 720px;
    margin: 1em 1em;
}

body {
    color: #141412;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    vertical-align: baseline;
}

/**
 * 2.0 Headings
 * ----------------------------------------------------------------------------
 */

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
    font-family: Bitter, Georgia, serif;
    line-height: 1.3;
}

h1 {
    font-size: 48px;
    margin: 33px 0;
}

h2 {
    font-size: 30px;
    margin: 25px 0;
}

h3 {
    font-size: 22px;
    margin: 22px 0;
}

h4 {
    font-size: 20px;
    margin: 25px 0;
}

h5 {
    font-size: 18px;
    margin: 30px 0;
}

h6 {
    font-size: 16px;
    margin: 36px 0;
}

hr {
    background: url(../images/dotted-line.png) repeat center top;
    background-size: 4px 4px;
    border: 0;
    height: 1px;
    margin: 0 0 24px;
}

/**
 * 3.0 Text Elements
 * ----------------------------------------------------------------------------
 */

p {
    margin: 0 0 24px;
}

ol,
ul {
    margin: 16px 0;
    padding: 0 0 0 40px;
}

ul {
    list-style-type: square;
}

ol {
    list-style: decimal outside;
}

li > ul,
li > ol {
    margin: 0;
}

dl {
    margin: 0 20px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 20px;
}

strong {
    font-weight: bold;
}

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 14px;
}

pre {
    background: #f5f5f5;
    color: #666;
    font-family: monospace;
    font-size: 14px;
    margin: 20px 0;
    overflow: auto;
    padding: 20px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

blockquote {
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
    margin: 24px 40px;
}

blockquote blockquote {
    margin-right: 0;
}

blockquote cite,
blockquote small {
    font-size: 14px;
    font-weight: normal;
    text-transform: uppercase;
}

cite {
    border-bottom: 0;
}

abbr[title] {
    border-bottom: 1px dotted;
}

address {
    font-style: italic;
    margin: 0 0 24px;
}

del {
    color: #333;
}

ins {
    background: #fff9c0;
    border: none;
    color: #333;
    text-decoration: none;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/**
 * 4.0 Links
 * ----------------------------------------------------------------------------
 */

a {
    color: #ca3c08;
    text-decoration: none;
}

a:visited {
    color: #ac0404;
}

a:focus {
    outline: thin dotted;
}

a:active,
a:hover {
    color: #ea9629;
    outline: 0;
}

a:hover {
    text-decoration: underline;
}

/**
 * 5.0 Alignment
 * ----------------------------------------------------------------------------
 */

.alignleft {
    float: left;
    margin: 5px 20px 5px 0;
}

.alignright {
    float: right;
    margin: 5px 0 5px 20px;
}

.aligncenter {
    display: block;
    margin: 5px auto;
}

img.alignnone {
    margin: 5px 0;
}

/**
 * 6.0 Tables
 * ----------------------------------------------------------------------------
 */

table {
    border-bottom: 1px solid #ededed;
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 14px;
    line-height: 2;
    margin: 0 0 20px;
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

caption {
    font-size: 16px;
    margin: 20px 0;
}

th {
    font-weight: bold;
    text-transform: uppercase;
}

td {
    border-top: 1px solid #ededed;
    padding: 6px 10px 6px 0;
}

/**
 * 7.0 Images
 * ----------------------------------------------------------------------------
 */

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.wp-caption {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.wp-caption.alignleft {
    margin: 5px 10px 5px 0;
}

.wp-caption.alignright {
    margin: 5px 0 5px 10px;
}

.wp-caption-dt {
    margin: 0;
}

.wp-caption .wp-caption-text,
.wp-caption-dd {
    color: #220e10;
    font-size: 18px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 24px;
    padding: 0;
}

/**
 * 8.0 RTL
 * ----------------------------------------------------------------------------
 */

html .mceContentBody.rtl {
    direction: rtl;
    unicode-bidi: embed;
}

.rtl ol,
.rtl ul {
    padding: 0 40px 0 0;
}

.rtl .wp-caption,
.rtl tr th {
    text-align: right;
}

.rtl td {
    padding: 6px 0 6px 10px;
    text-align: right;
}

.rtl blockquote blockquote {
    margin-left: 0;
    margin-right: 24px;
}