/*
 * @category            WordPress_Theme
 * @package             Twenty_Fifteen_All
 * @author              Tim Russell <githubber@timrussell.com>
 * @copyright
 * @license             GPL-2.0+
 *
 * @wordpress-theme
 * Theme Name:          Twenty Fifteen All
 * Theme URI:           https://gitlab.com/tdavidrussell/twentyfifteen-all
 * Description:         Twenty Fifteen (starter) Child Theme By Tim Russell. Parent Theme Designed by WordPress team.
 * Version:             20190710.1
 * Author:              Tim Russell
 * Author URI:          https://timrussell.com/
 * License:             GPL-2.0+
 * License URI:         http://www.gnu.org/licenses/gpl-2.0.html
 * Text Domain:         twentyfifteen-all
 * Domain Path:         /languages
 *
 * GitLab Theme URI:    https://gitlab.com/tdavidrussell/twentyfifteen-all
 * GitLab Branch:       master
 *
 * Tags:                child theme,
 *
 * Template:            twentyfifteen
 *
 * Requires WP:         4.8
 * Requires PHP:        5.6
 *
 * Support URI:         https://gitlab.com/tdavidrussell/twentyfifteen-all
 * Documentation URI:   https://gitlab.com/tdavidrussell/twentyfifteen-all
 *
 * Released under the GPL license
 * http://www.opensource.org/licenses/gpl-license.php
 *
 * This is an add-on for WordPress
 * http://wordpress.org/
 *
 * **********************************************************************
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * **********************************************************************
*/

/* import the new font */
@import url(https://fonts.googleapis.com/css?family=Lato);

/* change the font to something else */
body, .entry-content, .page-title {
    font-family: Lato, Georgia, "Times New Roman", Times, serif;
}

/**
@media screen and (min-width: 59.6875em) {
    body:before {
        background-color: #fff;
        content: "";
        display: block;
        height: 100%;
        min-height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 23.4118%;
        z-index: 0;
        background-color: transparent;
    }

    .site {
        margin: 0 auto;
        max-width: 1650px;
    }

    .sidebar {
        float: left;
        margin-right: -100%;
        max-width: 313px;
        position: relative;
        width: 23.4118%;
        background-color: transparent;
    }

    .secondary {
        background-color: transparent;
        box-shadow: none;
        display: block;
        margin: 0;
        padding: 0;
    }

    .site-main {
        padding: 1.75% 0;
        background-color: transparent;
    }

    .site-content {
        display: block;
        float: left;
        margin-left: 13%;
        width: 87%;
        background-color: transparent;
    }

    body {
        font-size: 15px;
        font-size: 1.5rem;
        line-height: 1.6;
        background-color: transparent;
    }
}
*/